<div class="b-chrII">
  <div class="b-chrII__hero">
    <div class="b-chrII__video">
      <div class="b-chrII__videoShaddow"></div>
      <video 
        *ngIf="carouselItems[activeIndex].type === 'video'"
        #videoRef
        class="b-chrII__vid b-chrII__vid--desktop" 
        [muted]="true"
        [loop]="true"
        autoplay
        playsinline>
        <source [src]="getVideoSource(carouselItems[activeIndex])" type="video/mp4" />
      </video>
      <video 
        *ngIf="carouselItems[activeIndex].type === 'video'"
        class="b-chrII__vid b-chrII__vid--mobile" 
        [muted]="true"
        [loop]="true"
        autoplay
        playsinline>
        <source [src]="getVideoSource(carouselItems[activeIndex])" type="video/mp4" />
      </video>
    </div>
    <div class="b-chrII__text">
      <div class="b-chrII__title">
        CH-RII 
        <img alt="" class="b-chrII__logo" src="https://cdn.bbs.com/101/assets/images/products-v2/wheels/CH-R-II/Unlimited_Button.svg">
      </div>
      <div class="b-chrII__subtitle">
        UNLIMITED SYSTEM
      </div>
      <span class="b-chrII__subtitle--white ">MORE THAN 345.600 DIFFERENT STYLES.</span>
      <div class="b-chrII__subtitle--white b-chrII__subtitle--margin">
        START CREATING YOUR OWN!
      </div>
      <a [href]="carouselItems[activeIndex].buttonLink" target="_blank" class="b-chrII__button">
        CONFIGURE NOW
      </a>
    </div>
    <div class="b-chrII__animation">
      <div class="icon"></div>
    </div>
  </div>
</div>
